<!-- <div class="logo">
  <a  class="simple-text logo-mini">
    
  </a>
  <a  class="simple-text logo-normal">
    Patients
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <table>
    <li *ngFor="let d of logic.patients"  (click)="displaydetails(d)">
      <tbody (click)="displaySelectedPatientDetail()">
      <tr>
      <td>ABS</td>
      </tr>
      </tbody>
      </li>
    </table>
  </ul>
</div> -->






<div class="logo">
  <a class="simple-text logo-mini">
  
  </a>
  <a class="simple-text logo-normal">
    Patient List
  </a>
  </div>
  <div class="sidebar-wrapper">
    
  <ul class="nav">
  <li>
  
  <table class="table table-striped tablefont">
  <li *ngFor="let d of logic.patient" (click)="displaydetails(d.name)">
  <tbody >
  <tr>
  <td>{{d.name}}</td>
  </tr>
  </tbody>
  </table>
  </li>
  </ul>
  </div>
 
  <router-outlet></router-outlet>